html {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(161, 217, 255);
    background-image: linear-gradient(to left bottom, #5ee6db, #8aebfd, #c0efff, #eaf4ff, #ffffff);
    height: 150vh;
}

h1 {
    text-decoration: underline;
    font-size: 300%;
}

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#board {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 450px;
    margin: auto;
}

#player {
    position: absolute;
    background-image: linear-gradient(to bottom, #e65e79, #e9576e, #ec5063, #ed4a57, #ee444a);
    width: 3vw;
    height: 3vw;
    opacity: .8;
}

.wall {
    background-image: linear-gradient(to left bottom, #5eb5e6, #4895c3, #3376a1, #1c5980, #003d60);    
    width: 3vw;
    height: 3vw;
}

.empty {
    width: 3vw;
    height: 3vw;
}

.spot {
    background-image: url("assets/O.png");
    background-size: 100%;
}

.box {
    position: absolute;
    background-image: linear-gradient(to left bottom, #c000b7, #ab00b5, #9600b2, #7f00af, #6603ab);
    width: 3vw;
    height: 3vw;
    opacity: .8;
}

.btn {
    background-image: linear-gradient(to left bottom, #e65e5e, #f2855f, #f9ab6b, #fdcf83, #fff2a5);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-sm {
    background-image: linear-gradient(to left bottom, #e65e5e, #f2855f, #f9ab6b, #fdcf83, #fff2a5);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#win {
    display: none;
    font-size: 400%;
    padding: 20px;
    top: 35%;
    left: 38%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    background-color: rgba(51, 162, 170, 0.9);
    border-radius: 10px;
}
