html {}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}


#board {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    height: 360px;
    width: 320px;
}

#player {
    position: absolute;
    background-color: blue;
    width: 40px;
    height: 40px;

}

.wall {
    background-color: black;
    width: 40px;
    height: 40px;
}

.empty {
    width: 40px;
    height: 40px;

}

.spot {
    background-image: url("assets/O.png");
    background-size: 100%;
}

.box {
    position: absolute;
    background-image: url("assets/crate.png");
    background-size: 100%;
    background-color: brown;
    width: 40px;
    height: 40px;
}


.covered {

}

#win {
    display: none;
    font-size: 200%;
    position: absolute;
    top:20px;
    left: 300px;
}



/* .lightBox {
    background-image: url("assets/crate2.png");
    background-size: 100%;
    width: 38px;
    height: 38px;
    border: 1px solid black;
} */